html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans Narrow", Arial, serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2,
legend {
  font-size: 24px;
  line-height: 30px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header {

  color: #fff;
  font-size: 16px;
  line-height: 20px;
  background: #000;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.index-header {
  margin-bottom: 60px;
}

.navigation {
  width: 780px;
  float: left;
}

.navigation ul {
  list-style: none;
  margin-top: 27px;
  margin-bottom: 27px;
}

.navigation ul li {
  display: inline-block;
}

.user-block {
  width: 140px;
  float: right;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
}

.footer-copyright {
  float: right;
  width: 180px;
}

/*Catalog*/

.page-header {
  text-transform: uppercase;
}

.breadcrumbs li {
  display: inline-block;
}

.selection-form {
  float: left;
  width: 220px;
  text-transform: uppercase;
}

.selection-filter ul {
  list-style: none;
}

fieldset {
  border: 0;
  margin: 0;
}

.cards-block {
  float: right;
  width: 700px;
}

.cards {
  font-size: 0;
}

.card {
  width: 220px;
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  line-height: 18px;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  list-style: none;
}

.pagination li {
  display: inline-block;
}

/*Item page*/

.image-block {
  float: left;
  width: 460px;
}

.image-big {

  margin-bottom: 20px;
}

.image-small {
  float: left;
  margin-right: 20px;
}

.thumbnails a:last-child img {
  margin-right: 0;
}

.article-description {
  float: right;
  width: 390px;
}
