/*Base rules*/


html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #000;

  font-family: "PT Sans Narrow", Arial, serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

fieldset {
  margin: 0;

  border: 0;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2,
legend {
  font-size: 24px;
  line-height: 30px;
}

.clearfix::after {
  display: table;
  clear: both;

  content: '';
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


/*Header*/


.main-header {
  margin-bottom: 55px;

  text-transform: uppercase;

  color: #fff;
  background: #000;

  font-size: 16px;
  line-height: 20px;
}

.index-header {
  margin-bottom: 60px;
}

.navigation {
  float: left;

  width: 780px;
}

.navigation ul {
  margin-top: 27px;
  margin-bottom: 27px;

  list-style: none;
}

.navigation ul li {
  display: inline-block;

  vertical-align: middle;
}

.user-block {
  float: right;

  width: 140px;
}


/*Index logo*/


.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}


/*Index features*/


.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;

  width: 300px;
  margin-right: 20px;

  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}


/*Index content*/


.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;

  width: 380px;
}

.index-content-right {
  float: right;

  width: 300px;
}


/*Footer*/


.footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  text-transform: uppercase;

  color: #fff;
  background: #000;
}

.footer-contacts {
  float: left;

  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;

  width: 180px;
}

.footer-copyright {
  float: right;

  width: 180px;
}


/*Non-main page header*/


.page-header {
  text-transform: uppercase;
}

.breadcrumbs li {
  display: inline-block;

  vertical-align: middle;
}


/*Catalog form*/


.selection-form {
  float: left;

  width: 220px;

  text-transform: uppercase;
}

.selection-filter ul {
  list-style: none;
}

.cards-block {
  float: right;

  width: 700px;
}


/*Catalog cards block*/


.cards {
  font-size: 0;
}

.card {
  display: inline-block;

  width: 220px;
  margin-right: 20px;

  vertical-align: middle;

  font-size: 14px;
  line-height: 18px;
}

.card:nth-child(3n) {
  margin-right: 0;
}


/*Pagination*/


.pagination {
  list-style: none;
}

.pagination li {
  display: inline-block;

  vertical-align: middle;
}


/*Item page image block*/


.image-block {
  float: left;

  width: 460px;
}

.image-big {
  margin-bottom: 20px;
}

.image-small {
  float: left;

  margin-right: 20px;
}

.thumbnails a:last-child {
  margin-right: 0;
}


/*Item page article*/


.article-description {
  float: right;

  width: 390px;
}
